<!-- footer - start -->
<footer class="p-4 bg-indigo-100 rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-800 sm:text-center dark:text-gray-400 md:ml-4"><%= t "defaults.footer", year: Date.current.year %></span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <%= link_to  t("defaults.terms"), terms_path, class: "mr-4 hover:underline md:mr-6" %>
        </li>
        <li>
            <%= link_to t("defaults.privacy"), privacy_policy_path, class: "mr-4 hover:underline md:mr-6" %>
        </li>
        <li>
            <%= link_to t("defaults.twitter"), 'https://twitter.com/eityamo', class: "mr-4 hover:underline md:mr-6", target: "_blank", rel: "noopener noreferrer" %>
        </li>
        <li>
            <%= link_to t("defaults.facebook"), 'https://www.facebook.com/eiji.yukihiro.1', class: "mr-4 hover:underline md:mr-6", target: "_blank", rel: "noopener noreferrer" %>
        </li>
    </ul>
</footer>
<!-- footer - end -->