<% set_meta_tags title: t('defaults.site'), description: t('defaults.description') %>

<section class="flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-12 md:py-12 xl:py-24">
  <!-- image - start -->
  <%= image_tag 'top4.png', alt: t('.hero_alt'), class: "w-full h-full object-cover object-center absolute inset-0" %>
  <!-- image - end -->

  <!-- overlay - start -->
  <div class="bg-indigo-500 mix-blend-multiply absolute inset-0"></div>
  <!-- overlay - end -->

  <!-- text start -->
  <div class="sm:max-w-xl flex flex-col items-center relative p-4">
    <h1 class="title text-white text-5xl sm:text-5xl md:text-7xl font-bold text-center mt-8 md:mt-20 mb-8 md:mb-8"><%= t '.title' %></h1>
    <p class="text-white text-2xl md:text-4xl sm:text-2xl text-center mb-4 md:mb-16 mt-8 md:mt-20"><%= t '.subtitle' %></p>
    <p class="text-white text-lg md:text-xl sm:text-xl text-center mb-2 md:mb-8 mt-8 md:mt-12 opacity-75"><%= t '.arrow_down' %></p>
    <button class="scroll-down-dude text-center" id="scroll-down" aria-label="<%= t('.arrow_down') %>"></button>
  </div>
  <!-- text end -->
</section>

<div class="bg-white py-6 sm:py-8 lg:py-12" id="form">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-8">
      <h2 class="text-gray-800 text-2xl lg:text-5xl font-bold text-center mb-4 md:mb-10"><%= t '.form_title' %></h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg mx-auto"><%= t '.form_header1' %><br><%= t '.form_header2' %><br><%= t '.form_header3' %></p>
    </div>
    <!-- text - end -->

    <!-- form - start -->
    <%= form_with  model: @record, url: records_path, data: { turbo: false }, class: "max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="sm:col-span-2">
        <%= f.label :myname %>
        <%= f.text_field :myname, placeholder: t('.name_placeholder'), maxlength: "10", class: form_input_class %>
      </div>

      <div class="inline-block relative w-48">
        <%= f.label :stamp %>
        <%= f.text_field :stamp, placeholder: t('.stamp_placeholder'), maxlength: "4", class: form_input_class %>
      </div>

      <div class="inline-block relative w-48">
        <%= f.label :old %>
        <%= f.number_field :old, in: 1..99, class: form_input_class %>
      </div>

      <div date-rangepicker, class="sm:col-span-2 flex flex-col">
        <%= f.label :fromdate %>
        <div class="flex">
          <%= f.date_field :fromdate, class: form_date_class %>
        <span class="mx-4 text-gray-500 my-auto">〜</span>
          <%= f.date_field :todate, class: form_date_class %>
        </div>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :yourname %>
        <%= f.text_field :yourname, placeholder: t('.name_placeholder'), maxlength: "10", class: form_input_class %>
      </div>

      <div class="inline-block relative w-48">
        <%= f.label :getup %>
        <%= f.select :getup, [[t('.necessary'), 'necessary'], [t('.unnecessary'), 'unnecessary'], [t('.consultation'), 'consultation']], { include_blank: t('.select_placeholder') }, class: form_select_class %>
      </div>

      <div class="inline-block relative w-48">
        <%= f.label :cleanup %>
        <%= f.select :cleanup, [[t('.necessary'), 'necessary'], [t('.unnecessary'), 'unnecessary'], [t('.consultation'), 'consultation']], { include_blank: t('.select_placeholder') }, class: form_select_class %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :remark %>
        <%= f.text_area :remark, placeholder: t('.remarks_placeholder'), maxlength: "130", class: "#{form_input_class} duration-100" %>
      </div>

      <div class="sm:col-span-2 flex justify-between items-center">
        <%= f.submit t('.pdf'), class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
      </div>
    <% end %>
    <!-- form - end -->
  </div>
</div>
