<% set_meta_tags title: t('defaults.terms'), noindex: true
 %>
<div class="container mx-auto mt-6 md:mt-24">
  <section class="bg-white mx-2 my-4 p-4 md:m-10 md:p-10 rounded-lg">
    <div class="text-xl md:text-2xl font-bold text-center mb-5"><%= t('.title') %></div>
    <%= t('.intro') %>
    <div class="mb-4">
      <div class="h5"><%= t('.article1_title') %></div>
      <%= t('.article1_body') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article2_title') %></div>
      <%= raw t('.article2_body') %>
      <div class="list-decimal mt-2">
        <%= raw t('.article2_items_html') %>
      </div>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article3_title') %></div>
      <%= t('.article3_body') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article4_title') %></div>
      <%= t('.article4_body') %>
      <div class="list-decimal mt-2">
        <%= raw t('.article4_items_html') %>
      </div>
    </div>
    <div class="mb-4">
    </div>
    <div class="h5"><%= t('.article5_title') %></div>
    <%= t('.article5_body') %>
    <div class="list-decimal mt-2">
      <%= raw t('.article5_items_html') %>
    </div>
    <%= t('.article5_body2') %>
    <div class="mb-4">
      <div class="h5"><%= t('.article6_title') %></div>
      <%= raw t('.article6_body_html') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article7_title') %></div>
      <%= t('.article7_body') %>
      <div class="list-decimal mt-2">
        <%= raw t('.article7_items_html') %>
      </div>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article8_title') %></div>
      <%= raw t('.article8_body_html') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article9_title') %></div>
      <%= t('.article9_body') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article10_title') %></div>
      <%= t('.article10_body') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article11_title') %></div>
      <%= raw t('.article11_body_html') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article12_title') %></div>
      <%= t('.article12_body') %>
    </div>
    <div class="mb-4">
      <div class="h5"><%= t('.article13_title') %></div>
      <%= raw t('.article13_body_html') %>
    </div>
    <p class="text-right"><%= t('.closing') %></p>
    <p><%= t('.enacted_date') %></p>
  </section>
</div>
