<!DOCTYPE html>
<html>
  <head>
    <!-- ogp -->
    <%= display_meta_tags(default_meta_tags) %>

    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GRVBKEM4C8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-GRVBKEM4C8');
    </script>
  </head>

  <body>
  <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
  </body>
</html>

<%#
<script>
const moons = ['🌑', '🌒', '🌓', '🌔', '🌕', '🌖', '🌗', '🌘', '🌑', '🌘', '🌗', '🌖', '🌖', '🌕', '🌔', '🌓', '🌒'];
let count = 0;
setInterval(()=> {
    location.hash = moons[count % moons.length];
    count++;
}, 200);
</script>
%>
<script>
document.getElementById('scroll-down').addEventListener('click', () => {
// formの表示位置を取得
  var form = document.getElementById('form');
// formまでスクロール
    form.scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "start"
    });
});
</script>